/* MOBILE */
@media screen and (max-width: 767px) {
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 992px) {
}
/* DESKTOP */

@media screen and (min-width: 992px) and (max-width: 1400px) {
}

* {
  --main-color: #0065fc;
  --secondary-color: #deebff;
  --background-color: #f2f2f2;

  --body-padding-top: 40px;
  --body-padding-sides: 50px;

  font-family: 'Raleway', sans-serif;

  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

body {
  max-width: 1400px;
  margin: auto;
  padding: var(--body-padding-top) var(--body-padding-sides) 0
    var(--body-padding-sides);
}

@media screen and (max-width: 767px) {
  body {
    padding: 0;
  }
}

a {
  color: black;
  text-decoration: none;
}

/* -- ||  HEADER  || -- */

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.main-header img {
  width: 61px;
  margin: 1.3em 0;
}

.main-header nav a {
  padding: 1.3em;
  position: relative;
  height: 100%;
}

.main-header nav a:hover {
  font-weight: 500;
  color: var(--main-color);
}

.main-header nav a:hover:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--body-padding-top));
  left: 0;
  background-color: var(--main-color);
  width: 100%;
  height: 2px;
}

/* Breakpoint mobile */
@media screen and (max-width: 767px) {
  .main-header {
    align-items: center;
    flex-direction: column;
  }

  .main-header nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
  }

  .main-header nav a {
    width: 100%;
    text-align: center;
  }

  .main-header nav:before {
    content: '';
    position: absolute;
    left: 0px;
    background-color: var(--background-color);
    width: 100vw;
    height: 2px;
    bottom: 0px;
  }
  .main-header nav a:hover:after {
    height: 3px;
    top: 58px;
    width: 100%;
  }
}

/* -- ||  SECTION SEARCH || -- */

.search h2 {
  margin-bottom: 0.5em;
}

/* SEARCHBAR */

.searchbar {
  display: flex;
  align-items: center;
  margin-top: 1.25em;
  margin-bottom: 2.25em;
}
.searchbar label {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  min-height: 50.28px;
  border-radius: 15px 0px 0px 15px;
  background-color: var(--background-color);
}
.searchbar label svg {
  background-color: var(--background-color);

  width: 14px;
  height: 18px;
}

.searchbar input {
  border: 2px var(--background-color) solid;
  padding: 0.94rem;
  width: 275px;
}

.searchbar input::placeholder {
  font-weight: 700;
  color: black;
  font-size: 1rem;
}

.searchbar input:focus {
  outline: none;
  border: 2px var(--main-color) solid;
}

input:focus::placeholder {
  color: transparent;
}

.searchbar button {
  cursor: pointer;
  height: 50.29px;
  min-width: 132px;
  border: 0;
  border-radius: 0px 15px 15px 0px;
  color: white;
  background-color: var(--main-color);
  font-size: 1rem;
  font-weight: 700;
  transform: translateX(-2px);
}

.searchbar button svg {
  transition: 250ms ease;
  display: none;
}

.searchbar button:hover svg {
  transform: scale(1.15);
}

/* Breakpoint mobile */
@media screen and (max-width: 767px) {
  .search {
    padding: 0 1.25em;
  }

  .searchbar {
    justify-content: center;
    margin: 2.25em auto;
  }

  .searchbar button {
    min-width: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-13px);
  }
  .searchbar button svg {
    display: block;
  }
  .searchbar button span {
    display: none;
  }
}

/* Breakpoint tablet */
@media screen and (min-width: 992px) {
  .search h2 {
    margin-bottom: 0.35em;
  }
}

/* FILTERS */

.filters {
  display: flex;
  align-items: baseline;
  gap: 1.5em;
  flex-wrap: wrap;
}

.filters__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.3rem;
  list-style: none;
}

.filters__list li button {
  cursor: pointer;
  padding: 0.6em 1em;

  background-color: white;

  border: 2px solid #d9d9d9;
  border-radius: 25px;
  vertical-align: baseline;

  font-weight: 700;
  transition: 400ms;
}

.filters__list li button:hover {
  background-color: #deebff;
}

.filters__list li svg {
  width: 22px;
  margin-right: 0.5em;
  color: var(--main-color);
}

/* SEARCH RESULTS  */

.search__results {
  margin: 2em auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search__results__icon {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 1px solid #d9d9d9;

  display: flex;
  align-items: center;
  justify-content: center;
}

.search__results svg {
  color: var(--main-color);

  width: 4px;
  height: 10px;
}

/* -- ||  MAIN || -- */

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-row {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.lodging {
  width: 60%;
}

.popular {
  width: 30%;
}

.popular > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular > div svg {
  width: 15px;
  color: #0065fc;
}

.lodging,
.popular {
  border-radius: 28px;
  padding: 1.5rem;
  background-color: var(--background-color);
}

.activities {
  background-color: orange;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .main-row {
    flex-direction: column;
  }
  .lodging {
    width: 100%;
  }

  .popular {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .lodging {
    background-color: white;
    width: 100%;
  }

  .popular {
    width: 100%;
  }
  .main-row {
    flex-direction: column-reverse;
  }
}
