/* MOBILE */
@media screen and (max-width: 767px) {
}
/* TABLET */
@media screen and (min-width: 768px) and (max-width: 992px) {
}
/* DESKTOP */

@media screen and (min-width: 992px) and (max-width: 1400px) {
}

* {
  --main-color: #0065fc;
  --secondary-color: #deebff;
  --background-color: #f2f2f2;

  font-family: 'Raleway', sans-serif;
}
