/* MOBILE */
@media screen and (max-width: 767px) {
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 992px) {
}
/* DESKTOP */

@media screen and (min-width: 992px) and (max-width: 1400px) {
}

* {
  --main-color: #0065fc;
  --secondary-color: #deebff;
  --background-color: #f2f2f2;

  --body-padding-top: 40px;
  --body-padding-sides: 50px;

  font-family: 'Raleway', sans-serif;

  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

body {
  max-width: calc(1400px + 2 * var(--body-padding-sides));
  margin: auto;
  padding: var(--body-padding-top) var(--body-padding-sides) 0
    var(--body-padding-sides);
}

@media screen and (max-width: 767px) {
  body {
    padding: 0;
  }
}

a {
  color: black;
  text-decoration: none;
}

/* -- ||  HEADER  || -- */

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.main-header img {
  width: 61px;
  margin: 1.3em 0;
}

.main-header nav a {
  padding: 1.3em;
  position: relative;
  height: 100%;
}

.main-header nav a:hover {
  font-weight: 500;
  color: var(--main-color);
}

.main-header nav a:hover:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--body-padding-top));
  left: 0;
  background-color: var(--main-color);
  width: 100%;
  height: 2px;
}

/* Breakpoint mobile */
@media screen and (max-width: 767px) {
  .main-header {
    align-items: center;
    flex-direction: column;
  }

  .main-header nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
  }

  .main-header nav a {
    width: 100%;
    text-align: center;
  }

  .main-header nav:before {
    content: '';
    position: absolute;
    left: 0px;
    background-color: var(--background-color);
    width: 100vw;
    height: 2px;
    bottom: 0px;
  }
  .main-header nav a:hover:after {
    height: 3px;
    top: 58px;
    width: 100%;
  }
}

/* -- ||  SECTION SEARCH || -- */

.search h2 {
  margin-bottom: 0.5em;
}

/* SEARCHBAR */

.searchbar {
  display: flex;
  align-items: center;
  margin-top: 1.25em;
  margin-bottom: 2.25em;
}
.searchbar label {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  min-height: 50.28px;
  border-radius: 15px 0px 0px 15px;
  background-color: var(--background-color);
}
.searchbar label svg {
  background-color: var(--background-color);

  width: 14px;
  height: 18px;
}

.searchbar input {
  border: 2px var(--background-color) solid;
  padding: 0.94rem;
  width: 275px;
}

.searchbar input::placeholder {
  font-weight: 700;
  color: black;
  font-size: 1rem;
}

.searchbar input:focus {
  outline: none;
  border: 2px var(--main-color) solid;
}

input:focus::placeholder {
  color: transparent;
}

.searchbar button {
  cursor: pointer;
  height: 50.29px;
  min-width: 132px;
  border: 0;
  border-radius: 0px 15px 15px 0px;
  color: white;
  background-color: var(--main-color);
  font-size: 1rem;
  font-weight: 700;
  transform: translateX(-2px);
}

.searchbar button svg {
  transition: 250ms ease;
  display: none;
}

.searchbar button:hover svg {
  transform: scale(1.15);
}

/* Breakpoint mobile */
@media screen and (max-width: 767px) {
  .search {
    padding: 0 1.25em;
  }

  .searchbar {
    justify-content: center;
    margin: 2.25em auto;
  }

  .searchbar button {
    min-width: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-13px);
  }
  .searchbar button svg {
    display: block;
  }
  .searchbar button span {
    display: none;
  }
}

/* Breakpoint tablet */
@media screen and (min-width: 992px) {
  .search h2 {
    margin-bottom: 0.35em;
  }
}

/* FILTERS */

.filters {
  display: flex;
  align-items: baseline;
  gap: 1.5em;
  flex-wrap: wrap;
}

.filters__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.3rem;
  list-style: none;
}

.filters__list li button {
  cursor: pointer;
  padding: 0.6em 1em;

  background-color: white;

  border: 2px solid #d9d9d9;
  border-radius: 25px;
  vertical-align: baseline;

  font-weight: 700;
  transition: 400ms;
}

.filters__list li button:hover {
  background-color: #deebff;
}

.filters__list li svg {
  width: 22px;
  margin-right: 0.5em;
  color: var(--main-color);
}

/* SEARCH RESULTS  */

.search__results {
  margin: 2em auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search__results__icon {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 1px solid #d9d9d9;

  display: flex;
  align-items: center;
  justify-content: center;
}

.search__results svg {
  color: var(--main-color);

  width: 4px;
  height: 10px;
}

/* -- ||  MAIN || -- */

/* LAYOUT  */

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.lodging {
  width: 66%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2em;
}

.lodging h3 {
  font-size: 1.4rem;
}

.lodging,
.popular {
  border-radius: 28px;
  padding: 40px;
  background-color: var(--background-color);
}

.activities h3 {
  font-size: 1.4rem;
}

.popular__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}
.popular__header svg {
  width: 15px;
  color: #0065fc;
}

.lodging__show-more {
  cursor: pointer;
  border: none;
  font-weight: 700;
}

.stars svg {
  margin-right: 1px;
  width: 12px;
  color: var(--main-color);
}

.stars svg:last-child {
  color: #f2f2f2;
}

.lodging-container {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  gap: 10px;
}

.popular {
  width: 30%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  gap: 30px;
}

.popular-container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  display: flex;
  background-color: white;
  box-shadow: 3px 3px 10px 5px #d1d1d1a1;
  border-radius: 25px;
}

main a:hover img {
  opacity: 0.8;
}

.card a {
  padding: 5px;
  width: 100%;

  display: flex;
  border-radius: 20px;
  overflow: hidden;
}

.card p {
  font-size: 0.8rem;
}

.card__body--lodging {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-around;
}

.card--lodging {
  width: 30%;
  max-height: 190px;
}

.card--lodging a {
  flex-direction: column;
}

.card--lodging img {
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  height: 58%;
  max-height: 125px;
}

.card--popular {
  height: 145px;
  width: 100%;
}

.card--popular a {
  gap: 5px;
  flex-direction: row;
}

.card--popular img {
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
  width: 40%;
}

.card__body {
  padding: 0.5rem;
}

.card--popular__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card--popular__body__description {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.activities {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.activities-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  height: 445px;
}

.activity {
  border-radius: 20px;
  width: 22%;
  background-color: white;
  box-shadow: 3px 3px 10px 5px #d1d1d1a1;
}

.activity img {
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
  height: 85%;
  width: 100%;
}

.activity h4 {
  padding: 1em;
}

footer {
  margin-top: 30px;
  background-color: var(--background-color);
  padding: 45px 70px;
}

footer nav {
  width: 100%;
  display: flex;
  gap: 10vw;
}

footer nav h5 {
  font-size: 1.1rem;

  margin-bottom: 1rem;
}

footer nav ul {
  list-style: none;
}

footer nav ul li {
  margin-top: 0.5em;
  font-size: 1rem;
}

/* Breakpoint tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .main-row {
    flex-direction: column;
  }
  .lodging {
    width: 100%;
  }

  .popular {
    width: 100%;
  }
  .popular-container {
    flex-wrap: nowrap;
  }
  .activities-container {
    height: 265px;
  }
  .activity img {
    height: 75%;
  }
  .activity h4 {
    padding: 0.5em 1em;
  }
}

@media screen and (max-width: 767px) {
  .lodging {
    background-color: white;
    width: 100%;
    padding: 20px;
  }
  .lodging button {
    display: none;
  }
  .lodging-container {
    flex-direction: column;
  }

  .card--lodging {
    width: 100%;
  }

  .popular {
    padding: 20px;
    border-radius: 0;
    width: 100%;
  }
  .main-row {
    flex-direction: column-reverse;
  }
  .activities {
    padding: 20px;
  }
  .activities-container {
    flex-direction: column;
    height: auto;
  }
  .activity {
    height: 200px;
    width: 100%;
  }
  .activity img {
    height: 75%;
  }
  footer {
    padding: 45px 30px;
  }
  footer nav {
    flex-direction: column;
  }
}
